﻿<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon2.png" width="100">
                Welcome to oTrack Identity
            </h1>
            <h4>Branch: @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                <strong>Web App:</strong> <a href="https://otrack.info">https://otrack.info</a>
            </p>
        </div>
    </div>
</div>
